.popoverGlobal {
  padding: 5px 10px;
  background-color: #f6f6f6;
  border-radius: 4px;
  color: #000;
  pointer-events: none;
  line-height: 15px;
  box-shadow: 3px 2px 8px rgba(0, 0, 0, 0.5);
}

.spanPopover {
  white-space: nowrap;
}
